footer{
    background-color: #ffe8b4;
}

#footer_itens{
    display: flex;
    justify-content: space-between;
    padding: opx 8px 24px 8px;
    align-items: center;
}

#copyright{
    color: #1d1d11;
}


@media screen and (max-width: 600px) {
    footer_itens{
        flex-direction: column;
        gap: 20px;
    }
}