#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #2e2e2e; 
}

#equipe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 34px;
}

#membro {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
    padding: 15px;
    background-color: #4b4b4b; /* Cor de fundo dos cards */
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.33% - 20px);
    margin: 10px;
    color: #fff; 
}

.membro-image {
    width: 100%; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 15px;
}

.membro-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.membro-description {
    color: #bfbfbf;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
}

.membro-oab i {
    color: #e9a209;
}

.membro-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-default {
    background-color: #e9a209;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 5px; /* Aproximar os botões */
}

.btn-default i {
    margin-right: 5px;
}

@media screen and (max-width: 1170px) {
    #membro {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 800px) {
    #membro {
        width: calc(100% - 20px);
    }

    #menu .section-subtitle {
        text-align: center;
    }
}
