#servicos {
    text-align: center;
    padding: 20px;
}

.section-title {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#servicos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.servicos-card {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex: 1 1 calc(16% - 20px); /* Ajuste para diminuir a largura */
    max-width: calc(16% - 20px); /* Ajuste para diminuir a largura */
    text-align: center;
    margin: 10px;
}

@media screen and (max-width: 1200px) {
    .servicos-card {
        flex: 1 1 calc(22% - 20px); /* Ajuste para diminuir a largura */
        max-width: calc(22% - 20px); /* Ajuste para diminuir a largura */
    }
}

@media screen and (max-width: 900px) {
    .servicos-card {
        flex: 1 1 calc(30% - 20px); /* Ajuste para diminuir a largura */
        max-width: calc(30% - 20px); /* Ajuste para diminuir a largura */
    }
}

@media screen and (max-width: 600px) {
    .servicos-card {
        flex: 1 1 calc(48% - 20px); /* 2 cards por linha */
        max-width: calc(48% - 20px); /* 2 cards por linha */
    }
}
